<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-SHOP | CART</title>
    <link rel="stylesheet" href="../Styles/style.css" />
    <link rel="stylesheet" href="../fontawsome_css/all.min.css" />
    <link rel="stylesheet" href="../Styles/cart.css">

  </head>
  <body>
    <div class="header">
      <div class="menu-btn">
        <div class="menu-btn-burger"></div>
      </div>
      <a href="/">
        <img class="logo" src="/pictures/Drop.png" alt="logo"
      /></a>
      <div class="wrapper">
        <div class="search-box">
          <input type="text" class="input-search" placeholder="Търсене" />

          <button class="search-btn">
            <img src="/pictures/search-solid.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="shopping-cart">
        <a href="/cart" id="shopping-bag">
          <p>Количка</p>
          <img
            class="shopping-cart-logo"
            src="/pictures/shopping-cart-solid.svg"
            alt="shopping cart"
          />
          <div class="total-items-in-cart">0</div>
        </a>
      </div>

      <a class="registration-link" href="registration.html">Регистрация</a>
      <div class="login-btn">
        <button>Вход</button>
      </div>
    </div>
    <!--   END HEADER -->

     <!-- Shopping cart -->

     <div class="shopping-cart-slide" id="shopping-cart-slide">
      <div class="cart-header">
        <div class="column1">Продукт:</div>
        <div class="column2">Цена за продукт:</div>
        <div class="column3">Брой:</div>
      </div>
      <div class="cart-items">
        <!-- render cart items here -->
      </div>
      <div class="cart-footer">
        <div class="subtotal">Общо (0 продукта): $0</div>
        <div class="checkout">Напред към плащане</div>
      </div>
    </div>


    <div class="subscribe">
      <img class="subscribe-logo" src="/pictures/Drop_White.png" alt="" />
      <p>Абонирайте се за нашите специални оферти</p>
      <form action="./connect.php" method="POST" class="send-email">
        <input
          type="email"
          name="email"
          id="email"
          class="subscribe-input"
          placeholder="Твоят E-mail"
        />
        <button type="submit" name="submit" id="submit" class="subs-btn">
          <i class="far fa-envelope"></i>
        </button>
      </form>
    </div>

    <div class="footer">
      <div class="inforamtion">
        <h3>ИНФОРМАЦИЯ</h3>
        <ul class="sidebar-items">
          <li><a href="">За нас</a></li>
          <li><a href="">Контакти</a></li>
          <li><a href="">Магазини</a></li>
          <li><a href="">Общи условия</a></li>
          <li><a href="">Поверителност и лични данни</a></li>
          <li><a href="">Мнения</a></li>
        </ul>
      </div>
      <div class="menu">
        <h3>МЕНЮ</h3>
        <ul class="menu-footer">
          <li><a href="">Нови продукти</a></li>
          <li><a href="">Промоции</a></li>
          <li><a href="">Категория 1</a></li>
          <li><a href="">Категория 2</a></li>
        </ul>
      </div>
      <div class="social-networks">
        <h3>СОЦИАЛНИ МРЕЖИ</h3>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <div class="contacts">
        <h3>КОНТАКТИ</h3>
        <p>Tel: +359 87 777 8888</p>
        <p>E-mail: example@ex.com</p>
        <p>Адрес: ул. Цар Борис 3</p>
        <p>
          Copyright © 2021
          <img class="footer-logo" src="../pictures/Drop_White.png" alt="" />
        </p>
      </div>
    </div>
      
    <script src="../Scripts/cart.js"></script>
  </body>
</html>
